body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8; /* Fondo azul pastel */
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo del formulario blanco */
    border: 2px solid #d3e0ea; /* Borde pastel */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 60px;
}

/* Estilo para el input datetimepicker */
.datetimepicker-input {
    color: #333;
    background-color: #fefefe;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

/* Efecto hover */
.datetimepicker-input:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-color: #888;
}

/* Efecto focus */
.datetimepicker-input:focus {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-color: #5a9bd3;
    outline: none;
}

/* Animación del botón */
.animated-button {
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-out;
}

.animated-button:hover {
    background-color: #5a9bd3;
    transform: translateY(-2px);
}

.button {
    background-color: #a4c7e1; /* Botón azul pastel */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.titulo-azul-pastel {
    color: #5a9bd3;  /* Tono azul pastel más oscuro */
    font-family: Arial, sans-serif;
    font-size: 2em; /* Tamaño del título */
    text-align: center;
    border: 2px solid #5a9bd3;  /* Borde azul pastel más oscuro */
    padding: 5px 20px;  /* Espaciado dentro del borde*/
    border-radius: 8px;  /* Bordes redondeados */
    background-color: #f0f4f8;  /* Color de fondo azul pastel claro */
}

.form-inline { 
	display: flex; 
	flex-wrap: wrap; 
	align-items: center;
 	margin-bottom: 12px; 
 } 
 
 .form-inline input, .form-inline button { 
	 margin: 5px; 
 }


