body {
    background-color: #f0f4f8; /* Fondo pastel claro */
    font-family: Arial, sans-serif;
}

.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Fondo del formulario blanco */
    border: 2px solid #d3e0ea; /* Borde pastel */
    border-radius: 10px; /* Esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 60px;
}

h2 {
    color: #627c85; /* Color de texto pastel */
}

label {
    color: #627c85; /* Color de texto pastel */
}

input[type="text"], input[type="password"] {
    width: 93%;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: 1px solid #d3e0ea; /* Borde pastel */
    border-radius: 5px;
    background-color: #f7fafc; /* Fondo pastel claro */
}

input[type="submit"] {
    background-color: #a3c7d6; /* Botón pastel */
    color: #ffffff; /* Color de texto del botón */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #82b4c4; /* Botón pastel más oscuro en hover */
}

.titulo-azul-pastel {
    color: #5a9bd3;  /* Tono azul pastel más oscuro */
    font-family: Arial, sans-serif;
    font-size: 2em; /* Tamaño del título */
    text-align: center;
    border: 2px solid #5a9bd3;  /* Borde azul pastel más oscuro */
    padding: 5px 20px;  /* Espaciado dentro del borde*/
    border-radius: 8px;  /* Bordes redondeados */
    background-color: #f0f4f8;  /* Color de fondo azul pastel claro */
}

